* {
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

form {
    display: inline-block;
}

.form-add-marks {
    background-color: rgb(62, 247, 154);
    ;
    border: 4px double rgba(236, 0, 0, 0.548);
    padding: 20px;
    width: 480px;
    height: 430px;
    text-align: center;
    display: inline-block;
}

.pole-inf {
    display: block;
    width: auto;
    height: 800px;
    padding: 20px;
}

h1 {
    margin-top: -5px;
    font-size: 30px;
    font-family: Tahoma, sans-serif;
    font-weight: 300;
}

.choice input {
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 400px;
    display: block;
    border-color: brown;
    font-style: italic;
}

.block-marks-button {
    width: 400px;
    text-align: center;
    display: inline-block;
    margin: 10px;
}

.keyboard button {
    margin: 3px;
    border: 2px solid green;
    background-color: white;
    font-weight: bold;
    width: 27px;
    height: 27px;
    text-align: center;
    padding: 2px;
    border-radius: 50%;
}

.keyboard button:hover {
    background: brown;
}

.posl1 input:hover {
    border: 2px solid brown;
    border-radius: 50%;
}

#pole {
    width: 100px;
    height: 30px;
}

.f-f-block {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
}

.posl1 {
    display: inline-block;
    margin-top: 5px;
}

#sub-mit {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: green;
}

#sub-mit:hover {
    background-color: brown;
    border: 2px solid white;
    border-radius: 50%;
}

#pole {
    width: 380px;
    height: 40px;
    display: inline-block;
    text-align: center;
}

#delete-btn {
    height: 40px;
    width: 40px;
    display: inline-block;
    margin: 10px;
}

#btn-reset {
    background-color: white;
    border: 2px solid brown;
    border-radius: 50%;
    font-weight: bold;
}

#btn-reset:hover {
    background-color: brown;
    border: 2px solid white;
    border-radius: 50%;
}

.marks-space {
    display: inline-block;
    position: absolute;
    width: auto;
    height: 100%;
    overflow: scroll;
    text-align: justify;
}

.marks-space table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: left;
    vertical-align: middle;
}

.marks-space th,
td:first-child {
    background: rgb(18, 189, 95);
    color: white;
    padding: 10px 20px;
}

.marks-space th,
td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

.marks-space td {
    background: rgb(62, 247, 154);
}

.marks-space th:first-child,
td:first-child {
    text-align: left;
}